h1{
    text-align: center;
    padding-top: 0px;
    font-size: 50px;

}
h2{
    text-align: center;
    color: rgb(55, 66, 66);
    font-family: 'Nosifer', cursive;
}
.jumbotron{
    background-color: rgb(55, 66, 66);
    color: beige;
    height: 150px;
    width: 100%;
}
#box{
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px #000;
    font-size: 1.3em; 
}
.head{
    background-color: rgb(219, 219, 241);
}
.card-footer{
    text-align: center;
}

hr{
    color: soliid black;
}

